.scroll-container {
    display: flex;

    padding: 10px;

}

.card-data {
    flex-shrink: 0;
    width: 100%;

}

.card-data .example-card {
    margin: 10px;
    scroll-margin-right: 10px;
}




.content-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.list-data {
    flex: 1;
    /* This allows the list to take up half the available space */
    margin-right: 20px;
    /* Spacing between the list and the cart */
}

.cart-display {
    flex: 0.5;
    /* This allows the cart to take up the other half of the available space */
    border-left: 1px solid #ccc;
    /* Optional divider line */
    padding-left: 20px;
}